body {
    background-image: url('img/logBackOne.jpg');
    background-size: 100%; /* 調整背景圖片大小以填滿整個視窗 */
}

header {
    color: darkred;
    padding: 20px;
}
.menu-link {
    color: #fff; /* 將連結文字顏色設置為白色 */
    text-decoration: none; /* 移除連結的下劃線 */
}

.menu-link:hover {
    text-decoration: underline; /* 滑鼠懸停時顯示下劃線 */
}

nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

main {
    padding: 20px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.landing {
    text-align: center;
    margin-top: 50px;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100%;
}
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
}
input[type="submit"] {
    background-color: darkred;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

input[type="submit"]:hover {
    background-color: #8B0000;
}


.login-form {
    width: 300px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
    margin-right: 20px; /* 調整表單和圖片之間的間距 */
}

.login-image img {
    max-width: 150px; /* 設置圖片的最大寬度 */
    height: auto; /* 讓圖片保持原始高度比例 */
}

.login-image img {
    max-width: 200px; /* 設置圖片的最大寬度 */
    height: auto; /* 讓圖片保持原始高度比例 */
}
footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}


/* 响应式设计 - 螢幕小於等於 768px */
@media (max-width: 768px) {
    body {
        font-size: 14px; /* 調整字體大小 */
    }
    .login-image img {
        max-width: 80%; /* 設置圖片的最大寬度為父元素寬度的 80% */
        height: auto; /* 讓圖片保持原始高度比例 */
    }
}

/* 响应式设计 - 螢幕小於等於 480px */
@media (max-width: 480px) {
    body {
        font-size: 12px; /* 更小的字體大小 */
    }
    .login-image img {
        max-width: 70%; /* 設置圖片的最大寬度為父元素寬度的 80% */
        height: auto; /* 讓圖片保持原始高度比例 */
    }
}
